
html {
  box-sizing: border-box;
  font-size: 100%;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 1em;
  margin: 0;
}

.main-content {
  max-width: 40em;
  margin: 0 auto;
}

p {
  line-height: 1.5;
  text-align: justify;
  font-size: 1em;
  margin: 0.5em 0;
}

pre {
  overflow-x: auto;
  font-size: 0.9em;
}

h1 {
  margin: 0 0 0.3em 0;
}
